[mysqld]
port=3307
datadir=/data/mysql/data
socket=/data/mysql/mysql.sock
pid-file=/data/mysql/mysql.pid

log-error=/data/mysql/error.log
tmpdir=/tmp
server_id=1
secure-file-priv=NULL

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci


[mysql]
default-charactre-set=utf8mb4
