[mysqld]
port=3307
datadir=/data/mysql/data
socket=/data/mysql/mysql.sock
pid-file=/data/mysql/mysql.pid

log-error=/data/mysql/error.log
tmpdir=/tmp
server_id=1
charset=utf8mb4
secure-file-priv=NULL

[mysql]
default-charactre-set=utf8mb4
